// Theme Colors
$primary: #181c32;
$theme-orange: #c99734;

// Input Focus
$input-focus-border-color: rgba(24, 28, 50, 0.8);;
$input-btn-focus-color: 0 0 8 rgba(24, 28, 50, 0.8);

// Theme Fonts
$theme-font: "Poppins", sans-serif;

// Alert Banners
$alert-padding-y: 10px;
$alert-padding-x: 20px;



